@media only screen {
	.addonssummary-wrapper-grid{
		margin: 40px 0;
	}
	.addonssummary-wrapper-grid-item{
		width: 100%;
		font-size: 0;
		margin: 30px 0;
	}
	.addonssummary-wrapper-grid-item-left,
	.addonssummary-wrapper-grid-item-right{
		display: inline-block;
		vertical-align: middle;
	}
	.addonssummary-wrapper-grid-item-left{
		width: 35%;
	}
	.addonssummary-wrapper-grid-item-left-image{
		padding: 20px;
		width: 100%;
	}
	.addonssummary-wrapper-grid-item-right{
		width: 65%;
	}
	.addonssummary-wrapper-grid-item-right-header{
		@include font-size(24);
		font-weight: 600;
		margin-bottom: 10px;
	}
	.addonssummary-wrapper-grid-item-right-description{
		@include font-size(18);
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 1.5;
	}
	.addonssummary-wrapper-grid-item-right-price{
		strong{
			@include font-size(20);
		}
		@include font-size(14);
		padding: 10px 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: rgba(0,0,0,0.5);
	}
}

@media only screen and (min-width: $medium){
	.addonssummary-wrapper-grid{
		font-size: 0;
		margin: 0 -20px 40px -20px;
	}
	.addonssummary-wrapper-grid-item{
		width: calc(50% - 40px);
		display: inline-block;
		vertical-align: top;
		margin: 30px 20px;
	}
	.addonssummary-wrapper-grid-item-left{
		width: 15%;
	}
	.addonssummary-wrapper-grid-item-right{
		width: 85%;
	}
}

@media only screen and (min-width: $large){
	.addonssummary-wrapper-grid{
		margin-bottom: 60px;
	}
}
