@media only screen {
	.featuressummary-wrapper-grid-item{
		margin: 40px 0;
	}
	.featuressummary-wrapper-grid-item-left{
		margin-bottom: 20px;
	}
	.featuressummary-wrapper-grid-item-left-image{
		width: 100%;
		display: block;
	}
	.featuressummary-wrapper-grid-item-right-header{
		margin-bottom: 10px;
		@include font-size(22);
		font-weight: 400;
		letter-spacing: 1px;
	}
	.featuressummary-wrapper-grid-item-right-description{
		line-height: 1.5;
		@include font-size(16);
		font-weight: 300;
		letter-spacing: 1px;
	}
}

@media only screen and (min-width: $medium){
	.featuressummary-wrapper-grid{
		font-size: 0;
	    margin: 0px -20px;
	}
	.featuressummary-wrapper-grid-item{
		display: inline-block;
		width: calc(50% - 40px);
		vertical-align: top;
		margin: 20px;
	}
}

@media only screen and (min-width: $large){
	.featuressummary-wrapper-grid{
		margin: 0px -30px 60px -30px;
	}
	.featuressummary-wrapper-grid-item{
		font-size: 0;
	}
	.featuressummary-wrapper-grid-item-left,
	.featuressummary-wrapper-grid-item-right{
		width: calc(50% - 20px);
	    display: inline-block;
	    vertical-align: top;
	    margin: 0 10px;
	}
}
