@media only screen {
	.gallerysummary-wrapper-grid{
		margin-top: 40px;
	}
	.gallerysummary-wrapper-grid-item{
		min-height: 240px;
		position: relative;
		margin: 20px 0;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		cursor: pointer;
	}
	.gallerysummary-wrapper-grid-item-text{
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		@include font-size(30);
		text-transform: uppercase;
		letter-spacing: 2px;
		width: 100%;
		text-align: center;
		padding: 20px;
		z-index: 2;
		pointer-events: none;
	}
	.gallerysummary-wrapper-grid-item-tint{
		background-color: rgba(0,0,0,0.3);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		pointer-events: none;
	}
}

@media only screen and (min-width: $medium){
	.gallerysummary-wrapper-grid{
		font-size: 0;
		margin: 40px -20px;
		text-align: center;
	}
	.gallerysummary-wrapper-grid-item{
		display: inline-block;
		width: calc(50% - 40px);
		margin: 20px;
	}
}

@media only screen and (min-width: $large){
	.gallerysummary-wrapper-grid-item{
		width: calc(calc(100% / 3) - 40px);
		&:hover{
			.gallerysummary-wrapper-grid-item-tint{
				background-color: rgba(0,0,0,0.5);		
			}
			.gallerysummary-wrapper-grid-item-text{
				opacity: 1;
				@include font-size(30);
			}
		}
	}
	.gallerysummary-wrapper-grid-item-tint{
		background-color: rgba(0,0,0,0);
		@include transition(background-color 0.25s ease);
	}
	.gallerysummary-wrapper-grid-item-text{
		opacity: 0;
		@include font-size(20);
		@include transition(opacity 0.25s ease, font-size 0.25s ease);
	}
}
