@media only screen {
	.nav{
		position: fixed;
		top: 0;
		right: -50%;
		text-align: right;
		padding: 20px;
		background-color: $offblack;
		color: white;
		z-index: 100;
		height: 100vh;
		width: 50%;
		max-width: 500px;
		@include transition(right 0.25s ease, box-shadow 0.25s ease);
		box-shadow: -7px 5px 15px rgba(0,0,0,0.0);
		&.active{
			box-shadow: -7px 5px 15px rgba(0,0,0,0.7);
			right: 0;
		}
	}
	.nav-wrapper-menu{
		list-style-type: none;
		margin-top: 40px;
	}
	.nav-wrapper-menu-item{
		&.signup{
			.nav-wrapper-menu-item-link{
				@include font-size(14);
				text-transform: uppercase;
				padding: 12px 15px 10px 17px;
				border: 2px solid white;
				letter-spacing: 1px;
				display: inline-block;
				margin-top: 30px;
				font-weight: 400;
			}
		}
	}
	.nav-wrapper-menu-item-link{
		color: white;
		text-decoration: none;
		display: block;
		padding: 8px 0;
		font-weight: 300;
	}
	.nav-wrapper-logowrapper{
		display: none;
	}
	.mobilenav{
		z-index: 7;
		position: fixed;
		top: 0px;
		left: 0;
		width: 100%;
		// display: none;
	}
	.mobilenav-wrapper{
		font-size: 0;
		padding: 15px;
		z-index: 2;
		position: relative;
		max-width: $xlarge;
		margin: 0 auto;
	}
	.mobilenav-wrapper-left,
	.mobilenav-wrapper-right{
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	.mobilenav-wrapper-right{
		text-align: right;
	}
	.mobilenav-wrapper-left-link-logo{
		max-width: 100px;
	}
	.mobilenav-wrapper-right-navtoggle{
		color: white;
		top: 16px;
		right: 20px;
		font-size: 30px;
		cursor: pointer;
		pointer-events: all;
	}
	.mobilenav-tint{
		width: 100%;
	    position: absolute;
	    top: 0;
	    background-color: $offblack;
	    height: 59px;
	    opacity: 0;
	}
}	

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.nav{
		right: 0px;
		left: 0px;
		width: 100%;
		top: 0px;
		max-width: none;
		height: auto;
		padding: 0px;
		text-align: left;
		z-index: 100;
		background-color: rgba(21,21,21,0);
	}
	.nav-wrapper{
		max-width: 1400px;
		padding: 15px 80px;
		font-size: 0;
		margin: 0 auto;
	}
	.nav-wrapper-menu{
		margin-top: 0px;
	}
	.nav-wrapper-menu,
	.nav-wrapper-logowrapper{
		display: inline-block;
		vertical-align: middle;
	}
	.nav-wrapper-menu{
		text-align: right;
		width: 70%;
	}
	.nav-wrapper-menu-item{
		display: inline-block;
		&.signup{
			.nav-wrapper-menu-item-link{		
				@include transition(background-color 0.25s ease, color 0.25s ease);
				&:hover{
					background-color: white;
					color: black;
				}
				margin-top: 0px;
				margin-left: 20px;
			}
		}
	}
	.nav-wrapper-menu-item-link{
		@include font-size(16);
		padding: 10px 20px;
	}
	.nav-wrapper-logowrapper{
		width: 30%;
		display: inline-block;
	}	
	.nav-wrapper-logowrapper-link-logo{
		max-width: 134px;
	}
	.mobilenav{
		display: none;
	}
}
@media only screen and (max-width: $xlarge){
	.nav-wrapper{
		// padding: 15px 80px;
	}
}