@media only screen {
	.footer{
		background-color: $offblack;
		color: white;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
	}
	.footer-wrapper{
		max-width: $xlarge;
		margin: 0 auto;
		padding: 20px;
	}
	.footer-wrapper-copyright{
		text-align: center;
		letter-spacing: 1px;
		@include font-size(13);
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.footer-wrapper{
		padding: 20px 80px;
	}
	.footer-wrapper-copyright{
		text-align: left;
	}
}