@media only screen {
	.homehero{
		position: relative;
		overflow: hidden;
		height: 80vh;
	}
	.homehero-textcontainer{
		max-width: $xlarge;
		width: 100%;
		text-align: center;
		position: absolute;
		z-index: 3;
		color: white;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		padding: 40px;
	}
	.homehero-textcontainer-header{
		@include font-size(40);
		text-transform: uppercase;
		font-weight: 300;
		line-height: 1.25;
		letter-spacing: 2px;
		max-width: 500px;
		margin: 0 auto;
	}
	.homehero-textcontainer-subheader{
		@include font-size(16);
		font-weight: 300;
		letter-spacing: 1px;
		margin-top: 20px;
	}
	.homehero-textcontainer-buttons{
		margin-top: 20px;
		font-size: 0;
	}
	.homehero-textcontainer-buttons-button{
		@include font-size(14);
		text-transform: uppercase;
		color: white;
		border: 2px solid white;
		font-weight: 300;
		padding: 16px 19px 14px 21px;
		text-decoration: none;
		display: inline-block;
		margin: 0 10px;
		letter-spacing: 1px;
		&:nth-child(2){
			margin-top: 15px;
		}
		min-width: 150px;
	}
	.homehero-tint{
		position: absolute;
		z-index: 2;
		background-color: rgba(0,0,0,0.7);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.homehero-slideshow,
	.homehero-video{
		width: auto;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	.homehero-slideshow-slide{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		&.first{
			z-index: 3;
		}
		&.second{
			z-index: 2;
		}
	}
}

@media only screen and (min-width: $medium){
	.homehero-textcontainer{
		text-align: left;
		padding: 80px;
	}
	.homehero-textcontainer-header{
		@include font-size(50);
		margin: 0;
	}
	.homehero-textcontainer-subheader{
		@include font-size(18);
	}
	.homehero-textcontainer-buttons{
		margin-top: 40px;
	}
	.homehero-textcontainer-buttons-button{
		margin-left: 0px;
		margin-right: 40px;
		padding: 16px 27px 14px 32px;
		margin-top: 0px;
		min-width: 0px;
	}
}

@media only screen and (min-width: $large){
	.homehero-textcontainer-buttons-button{
		@include transition(background-color 0.25s ease, border-color 0.25s ease);
		&:hover{
			background-color: $offblack;
			border-color: $offblack;
		}
	}
}